*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #80D6F2;
}

.flex{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
}

.logo img{
    justify-content:flex-start;
    min-width: 20px;
    width: 8%;
    height: auto;
}

.links{
    text-decoration: none;
    display: inline-block;
    gap:20px;
    width:30vw
    
}

nav .button{
    padding-left: 6rem;
    gap:20px;
    width: 20%;
    
    
}

nav .button1{
    box-shadow: 0.5px 0.5px black;
    border-radius: 30vw;
    white-space: nowrap;
    padding: 0.3rem;
}

nav .button2{
    box-shadow: 0.5px 0.5px black;
    white-space: nowrap;
    color: white;
    background-color: blue;
    border-radius: 40%;
    padding: 0.3rem;
}
nav{
    background-color:#80D6F2;
    border-bottom: 0.0001rem solid black;
    width: 100vw;
}

nav .n{
    gap:20px;
}


.container{
    max-width: 1180px;
    margin-inline:auto;
    padding: 20px;
}

a{text-decoration: none;}

a:hover{
    color: black;
    text-decoration: 0.1rem underline blue;
}

a:visited{
    color: blue;
}

/* Styling for hero page */

header img{
    width: 40vw;
    height: 50vh;
}

header .hero-content{
    justify-content: space-between;
}

.nowrap{
    white-space:nowrap;
    color: blue;
}

